.main {
  max-width: 1200px;
  margin: 0 auto;
}

.games {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* gap: 0rem; */
  margin: 2rem;
  padding: 0;
}

.card-game {
  background-color: var(--clr-primary);
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-item {
  display: flex;
  padding: 1rem;
}

.card-image img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

h2 {
  margin: 0;
  font-size: 1.4rem;
  margin-block: 0.5rem;
}

.genre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-block: 1rem;
  overflow-y: hidden;
  font-size: 0.9rem;
}

.genre > span {
  border: 2px solid var(--clr-white);
  padding: 0.1rem 0.5rem;
  border-radius: 15px;
}

/* Medium devices (landscape tablets and up) */
@media only screen and (max-width: 37.4rem) {
  .games {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
  }
  
  .card-item {
    width: 70VW;
  }

  .card-game {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.3s;
    padding: 1rem;
    width: 100%;
  }

  .card-image {
    align-items: center;
    margin: auto;
  }
}

@media only screen and (min-width : 37.5rem) {
  .card-item {
    width: 100VW;
  }
}


/* Extra small devices (phones and down) */
@media only screen and (min-width: 37.5rem) {
  .card-item {
    width: 50%;
  }
}

/* Medium devices (landscape tablets and up) */
@media only screen and (min-width: 48rem) {
  .card-item {
    width: 33.3333%;
  }
}

/* Large devices (laptops/desktops and up) */
@media only screen and (min-width: 62rem) {
  .card-item {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75rem) {
  .card-item {
    width: 20%;
  }
}
