.main {
  max-width: 1200px;
  margin: 0 auto;
}

.games {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  /* gap: 0rem; */
  margin: 2rem;
  padding: 0;
}

.card-game {
  background-color: var(--clr-primary);
  border: 1px solid black;
  border-radius: 15px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-item {
  display: flex;
  padding: 1rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

/* Medium devices (landscape tablets and up) */
@media only screen and (min-width: 1em) {
  .games {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
  }

  .card-game {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    transition: 0.3s;
    padding: 1rem;
  }
}

/* Extra small devices (phones and down) */
@media only screen and (min-width: 37.5rem) {
  .card-item {
    width: 50%;
  }
}

/* Medium devices (landscape tablets and up) */
@media only screen and (min-width: 48rem) {
  .card-item {
    width: 33.3333%;
  }
}

/* Large devices (laptops/desktops and up) */
@media only screen and (min-width: 62rem) {
  .card-item {
    width: 30%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75rem) {
  .card-item {
    width: 20%;
  }
}
