.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  margin-block: 2rem;
}

.nav-menu {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 2rem;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-logo .brand {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--acsent);
  border-radius: 10px;
  font-family: var(--ff-tittle);
}

.nav-logo .brand ion-icon {
  font-size: 3rem;
}

.nav-logo .brand .brand-tittle {
  font-size: 2rem;
}

.nav-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: min(70%, 60%); 
}

.nav-search .search{
  max-width: 700px;
  width: 100%;
}

.nav-search .search #game-name{
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  font-weight: 600;
  outline: none;
}

input[type="search"]::placeholder{
  color: var(--clr-white);
}

.nav-filter {
  font-size: 2.5rem
}

.nav-person {
  font-size: 2.5rem;
}


@media (max-width: 803px) {
  .nav-filter {
    display: none;
  }
  .brand-tittle {
    display: none;
  }
}

