.mobile-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.mobile-filter > span {
  border: 2px solid var(--clr-primary);
  padding: 0.3rem 1rem;
  border-radius: 15px;
}

@media (min-width: 769px) {
  .mobile-filter {
    display: none;
  }
}