@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Quicksand:wght@300;400;700&display=swap');

:root {
  /* ff font-family */
  --ff-tittle: 'Oswald', sans-serif;
  --ff-body: 'Quicksand', sans-serif;

  /* fw font-weight */
  --fw-thin: 300;
  --fw-normal: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* clr color */
  --clr-primary: #9BAFF4;
  --clr-secondary: #22228C;
  --clr-acsent: #0028B8;
  --clr-text: #11052D;
  --clr-background: #E8E3F3;
  --clr-white: #E8E3F3;
}

@media (prefers-color-scheme: dark) {
  :root {
  --clr-primary: #22228C;
  --clr-secondary: #9BAFF4;
  --clr-acsent: #476FFF;
  --clr-text: #E5E0F0;
  --clr-background: #11052D;
  }
}

*, *::before *::after {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
}

body {
  font-family: var(--ff-body);
  font-weight: var(--fw-normal);
  color: var(--clr-text);
  background-color: var(--clr-background );
}

