.container {
  display:flex;
  width: 100%;
  margin: 0 auto;
  padding-left: 8%;
  padding-right: 8%;
}

.btn {
  text-decoration: none;
  text-align: center;
  padding: 0.2rem;
  border-radius: 8px;
  border: 2px solid var(--clr-background);
  background-color: var(--clr-acsent);
  color: var(--clr-background);
  font-weight: var(--fw-semibold);
}

#modal-container {
  display: block;
  position: inherit;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.content {
  flex-direction: column;
}

.canvas-game {
  display: block;
  background-color: var(--clr-gray);
  border-radius: 10px;
}

/* sm */
/* @media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
} */

/* md */
/* @media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
} */

/* lg */
/* @media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  } 
} */ 

/* xl */
/* @media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
} */

/* 2xl */
/* @media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
} */